Source: 8821cu
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-sequence-dkms,
               lintian,

Package: 8821cu-dkms
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends},
Description: dkms sources for Realtek 8821cu Wi-Fi driver
 This package provides the dkms source code for Realtek
 8821cu Wi-Fi driver.
